<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%moviesList.forEach(movie => {%>
        <p><%= movie.SKU %></p>
        <p><%= movie.productName %></p>
        <p><%= movie.productPicture %></p>
        <p><%= movie.description %></p>
        <p><%= movie.stock %></p>
        <p><%= movie.price %></p>
    <%})%>
    <h1>hello</h1>
</body>
</html>